/* Versão mobile firt 
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
  }

  #abrir-menu {
    display: block;
    cursor: pointer;
  }

  #fechar-menu {
    display: block;
  }

  nav {
    display: none;
    margin-top: 120px;
    width: 100%;
  }
  .cabecalho ul li:nth-child(1) {
    margin-bottom: -50px;
    padding: 0;
  }
  .cabecalho ul {
    padding: 140px 0 140px 0;
    width: 100%;
    background-color: #1f1517;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .extra {
    display: none;
  }

  .anuncio {
    padding: 30px 10px 10px 10px;
    flex-direction: column;
  }

  .botao {
    display: none;
  }

  .div-fotos {
    padding-right: 10px;
  }
  .fotos-img {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
  }
  .fotos-img:nth-child(1),
  .fotos-img:nth-child(2),
  .fotos-img:nth-child(3) {
    display: none;
  }

  .receitas {
    padding: 20px 40px;

    height: auto;
  }

  .receitas-descricao {
    padding-bottom: 10px;
  }

  .receitas-conteudo {
    padding-top: 10px;
    gap: 10px;
  }
  .background-marrom-claro {
    padding: 8px;
  }
  .receitas-info {
    justify-content: space-between;
    gap: 10px;
  }

  .receitas-info span {
    font-size: 1rem;
  }

  .receitas-info h4 {
    font-size: 1.4rem;
  }

  .receitas-info p {
    font-size: 1.2rem;
  }
  .receitas > p {
    padding-top: 20px;
  }

  .rodape {
    padding: 30px;
  }
  .rodape p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .cabecalho ul {
    margin-right: 0;
  }

  .anuncio {
    padding: 0 20px 20px 20px;
  }

  .fotos-img:nth-child(4) {
    display: none;
  }

  .receitas {
    padding: 50px 90px 0 90px;
  }

  .receitas-info {
    justify-content: space-between;
    padding: 30px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .cabecalho ul {
    margin-right: 0;
  }
  .anuncio {
    padding: 0 40px 20px 40px;
  }
}

@media screen and (min-width: 1201px) {
  .anuncio {
    padding: 0 16px 20px 16px;
  }
}

@media (max-width: 992px) {
  .botao {
    margin-left: 150px;
  }
  .anuncio {
    gap: 20px;
  }
}
