:root {
  --marron-black: #1f1517;
  --branco: #ffffff;
  --bege-claro: #fff2e7;
  --terra: #a45a49;
  --cinza: #c7bab3;
  --marrom-escuro: #181012;
  --marrom: #241a1c;
  --marrom-claro: #23181a;
  --border-radius: 8px;
}
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500&family=Inter:wght@400;500;600&family=Montserrat:wght@800;900&family=Teko:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  color: var(--branco);
}

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--marron-black);
  height: 68px;
  width: 100%;

  z-index: 2;
}

a {
  text-decoration: none;
}

span {
  color: var(--terra);
  font-size: 1.3rem;
  font-family: "epilogue", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

button a {
  color: var(--branco);
}

#abrir-menu {
  display: none;
  color: var(--branco);
  font-size: 3rem;
  padding: 10px;
}

#fechar-menu {
  display: none;
  margin-left: 300px;
  font-size: 3rem;
  color: var(--branco);
  cursor: pointer;
}

.logo-texto a {
  color: var(--branco);
  font-size: 3.2rem;
  font-family: "teko", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 40%;
  user-select: none;
  cursor: default;
}

.cabecalho ul {
  margin-right: 200px;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.cabecalho ul li a {
  color: rgba(255, 242, 231, 0.5);
  font-family: "inter", sans-serif;
  font-size: 1.6rem;
  font-weight: medium;
}

.cabecalho ul li a:hover {
  color: var(--bege-claro);
  font-weight: 600;
  transition: all 400ms ease-in-out;
}

.extra-texto a {
  color: var(--bege-claro);
  font-family: "inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.anuncio {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--marrom-escuro);

  width: 100%;
}

.anuncio-texto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.titulo {
  color: var(--branco);
  font-size: 5rem;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
}
.anuncio hr {
  max-width: 240px;
  border: 1px solid #a45a49;
}

.botao {
  position: absolute;
  display: flex;
  margin: -24px 0 -10px 260px;
  z-index: 3;
}

.botao button {
  height: 46px;
  width: 44px;
  border-radius: var(--border-radius);
  color: var(--branco);
  background: var(--terra);
  transform: rotate(-90deg);
  border: 0px solid;
  cursor: pointer;
}

.descricao {
  color: var(--cinza);
  font-size: 1.8rem;
  font-family: "inter", sans-serif;
  font-weight: 400;
}

.div-fotos {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  z-index: 1;
}

.fotos-img img {
  height: 180px;
  width: 130px;
}

.receitas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background: var(--marron-black);
  z-index: 2;
  padding: 90px 130px 0 130px;
}

.receitas-descricao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.receitas-descricao span {
  font-size: 1.2rem;
}

.receitas-descricao h3 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.receitas-descricao p {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--cinza);
}

.receitas-conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.background-marrom-claro {
  background: var(--marrom);
  padding: 34px;
  border-radius: var(--border-radius);
}

.receitas-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.receitas-info:nth-child(1) span:nth-child(1) {
  color: #e7a80e;
}

.receitas-info h4 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--bege-claro);
}

.receitas-info p {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--cinza);
}

.receitas-criador {
  display: flex;
  align-items: center;
  gap: 5px;
}

.receitas-criador span {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--cinza);
}

.receitas > p {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--cinza);
  text-align: center;
}

.rodape {
  background: var(--marrom-claro);
  padding: 50px;
  font-family: "inter", sans-serif;
}

.rodape div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rodape p:nth-child(1) {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--bege-claro);
  text-align: center;
}

.rodape p {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgba(255, 242, 231, 0.5);
  text-align: center;
}

.rodape a {
  color: rgba(255, 242, 231);
}
